node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
gradle-app.setting
.gradletasknamecache
# gradle-wrapper.jar is needed.
!gradle-wrapper.jar